# 라이브러리 및 옵션

In [1]:
import numpy as np
import pandas as pd
import random

# 데이터 불러오기

In [2]:
df=pd.read_csv('./2019-Oct.csv')
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [3]:
df.tail()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
42448759,2019-10-31 23:59:58 UTC,view,2300275,2053013560530830019,electronics.camera.video,gopro,527.40,537931532,22c57267-da98-4f28-9a9c-18bb5b385193
42448760,2019-10-31 23:59:58 UTC,view,10800172,2053013554994348409,NaN,redmond,61.75,527322328,5054190a-46cb-4211-a8f1-16fc1a060ed8
42448761,2019-10-31 23:59:58 UTC,view,5701038,2053013553970938175,auto.accessories.player,kenwood,128.70,566280422,05b6c62b-992f-4e8e-91f7-961bcb4719cd
42448762,2019-10-31 23:59:59 UTC,view,21407424,2053013561579406073,electronics.clocks,tissot,689.85,513118352,4c14bf2a-2820-4504-929d-046356a5a204
42448763,2019-10-31 23:59:59 UTC,view,13300120,2053013557166998015,NaN,swisshome,155.73,525266378,6e57d2d7-6022-46e6-81d6-fa77f14cefd8

In [4]:
df.shape

(42448764, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42448764 entries, 0 to 42448763
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.8+ GB

In [6]:
df.isnull().sum()

event_time              0
event_type              0
product_id              0
category_id             0
category_code    13515609
brand             6117080
price                   0
user_id                 0
user_session            2
dtype: int64

In [7]:
df['user_id'].nunique()

3022290

In [8]:
df['event_type'].value_counts()

view        40779399
cart          926516
purchase      742849
Name: event_type, dtype: int64

# 데이터 추출

In [9]:
df=df[df['brand'].notnull()]
df=df[df['category_code'].notnull()]

In [10]:
df=df[df['event_time']<'2019-10-05']
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
5,2019-10-01 00:00:05 UTC,view,1480613,2053013561092866779,computers.desktop,pulser,908.62,512742880,0d0d91c2-c9c2-4e81-90a5-86594dec0db9
8,2019-10-01 00:00:10 UTC,view,28719074,2053013565480109009,apparel.shoes.keds,baden,102.71,520571932,ac1cd4e5-a3ce-4224-a2d7-ff660a105880

In [11]:
df.tail()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
4980059,2019-10-04 23:59:56 UTC,view,1004993,2053013555631882655,electronics.smartphone,oneplus,591.75,556398081,5edc4b5c-bf0e-45bf-84f5-a7354f2df473
4980061,2019-10-04 23:59:57 UTC,view,1004253,2053013555631882655,electronics.smartphone,apple,810.72,556879664,acda6a98-2ec1-4e8e-b38d-0dbbe7fb1f04
4980063,2019-10-04 23:59:58 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,975.56,535849319,6204f644-9acd-422e-8bd2-c1c6c42e7478
4980064,2019-10-04 23:59:59 UTC,view,2501075,2053013564003713919,appliances.kitchen.oven,artel,36.55,516703599,5b380725-b4ff-4b74-84e8-2df5834cbb88
4980065,2019-10-04 23:59:59 UTC,view,12100045,2053013555816432043,kids.skates,xiaomi,368.89,547827584,d15c6780-4365-42a5-9797-fa3a309f3293

In [12]:
df.shape

(3183153, 9)

In [13]:
df=df[df['user_id'].isin(random.sample(df['user_id'].unique().tolist(),10000))]

# 데이터 저장

In [ ]:
df.to_csv('./sample3.csv')